.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /*-----------------------------*/
  background-color: #3e3e3e;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 50px;
  padding: 0 16px;
}

@media screen and (min-width: 320px) {
  .header {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 40px;
  }
}
