.label {
  margin: 60px auto 10px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.input {
  padding: 3px 5px;
  font-weight: 700;
  outline: none;
  border: 0;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  box-shadow: 0px 0px 0px 1px #9a9a9a;
}
