.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  width: 450px;
  height: 250px;
  background-color: #4f4f4f;
  border-radius: 15px;
  animation: fadeLeft 0.2s ease 0s 1 normal forwards;
}

.inputBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  color: #ffff;
  background-color: #e7e7e7;
  width: 240px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  transition: 0.25s;
}

.input:hover,
.input:focus {
  border-color: black;
}

.errorMessage {
  color: rgb(255, 0, 0);
  position: absolute;
  top: 5px;
  left: 280px;
  font-weight: 500;
  font-size: 12px;
}

.btn {
  height: 40px;
  width: 150px;
}

/* animation */

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form {
    padding: 10px;
    width: 280px;
    height: 350px;
    gap: 30px;
  }

  .inputBlock {
    gap: 24px;
  }

  .input {
    width: 240px;
    height: 40px;
  }

  .errorMessage {
    top: 10px;
    left: 200px;
    font-size: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .form {
    padding: 10px;
    width: 550px;
    height: 320px;
  }

  .inputBlock {
    gap: 40px;
  }

  .input {
    font-family: "Courier New", Courier, monospace;
    width: 400px;
    height: 50px;
  }

  .errorMessage {
    top: 16px;
    left: 340px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    gap: 20px;
    padding: 40px;
    width: 600px;
    height: 350px;
  }

  .input {
    margin-bottom: 20px;
    background-color: #e7e7e7;
    width: 400px;
    height: 40px;
    padding: 0 10px;
  }

  .errorMessage {
    top: 10px;
    left: 350px;
    font-size: 12px;
  }
}
