.wrapp {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;
  gap: 8vh;
}

/* BLOCK */
.txtBlock {
  padding: 60px 0;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  background-color: #4f4f4f;
  border-radius: 15px;
  animation: fromLeft 0.2s ease-in-out 0s 1 normal forwards;
  color: #ffff;
}
.txtBlockTwo {
  padding: 60px 0;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  background-color: #4f4f4f;
  border-radius: 15px;
  color: #ffff;
  animation: fromRigth 0.2s ease-in-out 0s 1 normal forwards;
}
.txtBlockThree {
  padding: 60px 0;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  height: 100%;
  width: 800px;
  background-color: #4f4f4f;
  border-radius: 15px;
  animation: fromLeft 0.2s ease-in-out 0s 1 normal forwards;
}
.text {
  color: black;
  color: #ffff;
  font-family: "Montserrat", sans-serif;
}

/* animation */
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRigth {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapp {
    max-width: 375px;
    gap: 10px;
  }

  .txtBlock {
    align-self: center;
    padding: 5px;
    width: 280px;
  }

  .txtBlockTwo {
    align-self: center;
    padding: 10px;
    width: 280px;
  }
  .txtBlockThree {
    align-self: center;
    padding: 5px;
    width: 280px;
  }

  .text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .wrapp {
    max-width: 768px;
    gap: 8vh;
  }

  .txtBlock {
    padding: 20px;
    max-width: 600px;
  }

  .txtBlockTwo {
    padding: 20px;
    max-width: 600px;
  }
  .txtBlockThree {
    padding: 20px;
    max-width: 700px;
  }

  .text {
    font-size: 20px;
  }
}
