.navigationList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #ffff;
}

@media screen and (min-width: 320px) {
  .navigationList {
    gap: 10px;
  }
  .title {
    gap: 10px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .navigationList {
    gap: 30px;
  }
  .title {
    font-size: 16px;
  }
}
