:root {
  font-family: "Montserrat", sans-serif, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}
a:hover {
  color: #4a4a4a;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25px;
  width: 100px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #909090;
}
button:focus,
button:focus-visible {
  outline: none;
}
