.UserBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.userName {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.btn {
  width: 50px;
  height: 50px;
  color: #ffff;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  color: red;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .UserBlock {
    gap: 0px;
  }

  .userName {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  .btn {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .btn {
    width: 50px;
    height: 50px;
  }
}
